<div class="u-content">
    <div class="u-body">
        <div class="row">
            <div class="col-md-12">
                <header class="section-header mb-4">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <h2 class="h3 card-header-title">Danh sách tài khoản</h2>
                        </div>
                    </div>
                </header>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col" class="text-center">ID</th>
                                        <th scope="col" width="150">Tên đăng nhập</th>
                                        <th scope="col">Trạng thái</th>
                                        <th scope="col">Loại tài khoản</th>
                                        <th scope="col" class="text-center" width="250">Hành động</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {{#each result}}
                                    <form method="post" id="formPost{{MaTaiKhoan}}">
                                        <input name="id" value="{{MaTaiKhoan}}" hidden>
                                    </form>
                                    <tr>
                                        <td class="text-center">{{MaTaiKhoan}}</td>
                                        <td>{{TenDangNhap}}</td>
                                        <td>{{format_status TrangThai}}</td>
                                        <td>{{format_type LoaiTaiKhoan}}</td>
                                        <td class="text-center">
                                            {{!--
                                            <button type="submit" class="btn btn-outline-primary" form="formGet{{MaGV}}" formaction="/admin/teacher/edit">Chỉnh sửa</button>
                                            <button type="submit" class="btn btn-outline-success" form="formPost{{MaGV}}" formaction="/admin/teacher/createaccount">Tạo tài khoản</button>
                                            --}}
                                            {{#if active}}
                                                <button type="submit" class="btn btn-outline-primary" form="formPost{{MaTaiKhoan}}" formaction="/admin/account/lock">Khóa</button>
                                            {{else}}
                                                <button type="submit" class="btn btn-outline-success" form="formPost{{MaTaiKhoan}}" formaction="/admin/account/unlock">Mở khóa</button>
                                            {{/if}}
                                        </td>
                                    </tr>
                                {{/each}}
                                </tbody>
                            </table>
                        </div>
                        {{#if curPage.check}}
                            <div class="pagination-wrap mt-3 text-center">
                                <nav aria-label="Bootstrap Pagination Example">
                                    <ul class="pagination mb-0">
                                        {{#if prevPage.check}}
                                            <li class="page-item">
                                                <a class="page-link" href="/admin/account?page={{prevPage.value}}">&larr; <span class="ml-1 d-none d-xl-inline-block">Previous</span></a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" href="/admin/account?page={{prevPage.value}}">{{prevPage.value}}</a>
                                            </li>
                                        {{/if}}
                                        <li class="page-item active">
                                            <a class="page-link">{{curPage.value}}</a>
                                        </li>
                                        {{#if nexPage.check}}
                                            <li class="page-item">
                                                <a class="page-link" href="/admin/account?page={{nexPage.value}}">{{nexPage.value}}</a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" href="/admin/account?page={{nexPage.value}}"><span class="mr-1 d-none d-xl-inline-block">Next</span> &rarr;</a>
                                            </li>
                                        {{/if}}
                                    </ul>
                                </nav>
                            </div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
