<div class="u-content">
    <div class="u-body">
        <header class="section-header mb-4">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <h2 class="h3 card-header-title">Danh sách lớp học</h2>
                </div>
                {{!--
                <div class="col-md-6 text-right">
                    <a href="category-add.html" class="box-btn">Add New Category</a>
                </div>
                --}}
            </div>
            <div class="row align-items-center">
                <div class="col-md-6">
                    <select id="year" name="year" onchange="location = this.value;">
                        <option data-display="Chọn năm học" value="/admin/class">Năm học</option>
                        {{#each year}}
                            <option value="/admin/class?year={{NamHoc}}">{{NamHoc}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
        </header>
        <div class="row">
            {{#each result}}
                <div class="col-lg-4 col-md-6">
                    <div class="card single-category text-center">
                        <div class="card-body">
                            <div class="">
                                <div class="category-image">
                                    <img src="/public/admin-assets/img/categories/cat-2.jpg" alt="">
                                </div>
                                <div class="category-content">
                                    <h2>{{TenLop}}</h2>
                                    <ul>
                                        {{#if HoTen}}
                                        <li>Giáo viên chủ nhiệm: {{HoTen}}</li>
                                        {{else}}
                                            <li>Giáo viên chủ nhiệm: Chưa có</li>
                                        {{/if}}
                                        <li>Phòng học: {{PhongHoc}}</li>
                                        <li>Năm học: {{NamHoc}}</li>
                                    </ul>
                                    <div class="">
                                        <form method="get" id="formGet{{MaLop}}">
                                            <input name="id" value="{{MaLop}}" hidden>
                                        </form>
                                        <form method="post" id="formPost{{MaLop}}">
                                            <input name="id" value="{{MaLop}}" hidden>
                                        </form>
                                        <button type="submit" class="btn btn-outline-primary" form="formGet{{MaLop}}" formaction="/admin/class/edit">Chỉnh sửa</button>
                                        <button type="submit" class="btn btn-outline-secondary" form="formGet{{MaLop}}" formaction="/admin/class/student">Danh sách học sinh</button>
                                        <button type="submit" class="btn btn-outline-secondary" form="formGet{{MaLop}}" formaction="/admin/class/teacher">Danh sách giáo viên</button>
                                        <button type="submit" class="btn btn-outline-info" form="formGet{{MaLop}}" formaction="/admin/class/timetable">Lịch biểu</button>
                                        <button type="submit" class="btn btn-outline-info" form="formGet{{MaLop}}" formaction="/admin/class/tuition">Học phí</button>
                                        <button type="submit" class="btn btn-outline-danger" form="formPost{{MaLop}}" formaction="/admin/class/delete">Xóa</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
        {{#if curPage.check}}
            <div class="pagination-wrap mt-3 text-center">
                <nav aria-label="Bootstrap Pagination Example">
                    <ul class="pagination mb-0">
                        {{#if prevPage.check}}
                            <li class="page-item">
                                <a class="page-link" href="/admin/class?page={{prevPage.value}}">&larr; <span class="ml-1 d-none d-xl-inline-block">Previous</span></a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="/admin/class?page={{prevPage.value}}">{{prevPage.value}}</a>
                            </li>
                        {{/if}}
                        <li class="page-item active">
                            <a class="page-link">{{curPage.value}}</a>
                        </li>
                        {{#if nexPage.check}}
                            <li class="page-item">
                                <a class="page-link" href="/admin/class?page={{nexPage.value}}">{{nexPage.value}}</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="/admin/class?page={{nexPage.value}}"><span class="mr-1 d-none d-xl-inline-block">Next</span> &rarr;</a>
                            </li>
                        {{/if}}
                    </ul>
                </nav>
            </div>
        {{/if}}
    </div>
</div>
