{{#section 'js'}}
    <script>
        $('#frmAddTuition').on('submit', function (e) {
            e.preventDefault()
            const price = parseInt($('#price').val())
            if (price > 0) {
                $('#frmAddTuition').off('submit').submit()
            }
            return
        })
    </script>
{{/section}}

<div class="u-content">
    <div class="u-body">
        <header class="section-header mb-4">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <h2 class="h3 card-header-title">Chỉnh sửa thông tin học phí</h2>
                </div>
            </div>

        </header>
        <div class="row">
            <div class="col-md-12">
                <div class="category-add-form-wrap">
                    <form action="/admin/class/tuition/edit" method="post" class="category-add-form" id="frmAddTuition">
                        <div class="form-group">
                            <label for="name">Tên học phí</label>
                            <input type="text" class="form-control" id="name" name="name" value="{{result.TenHocPhi}}" required>
                        </div>
                        <div class="form-group">
                            <label for="semester">Học kỳ</label>
                            <select id="semester" name="semester" disabled>
                                <option data-display="Học kỳ {{result.HocKy}}"></option>
                            </select>
                        </div>
                        <div class="form-group">&nbsp;</div>
                        <div class="form-group">
                            <label for="year">Năm học</label>
                            <input type="text" class="form-control" id="year" name="year" value="{{result.NamHoc}}" disabled>
                        </div>
                        <div class="form-group">
                            <label for="price">Tổng tiền</label>
                            <input type="number" class="form-control" id="price" name="price" value="{{result.TongTien}}" required>
                        </div>
                        {{#if added}}
                            <p class="text-success">Chỉnh sửa thành công</p>
                        {{/if}}
                        <input name="id" value="{{result.MaHocPhi}}" hidden>
                        <div class="form-group">
                            <button class="box-btn" type="submit">Lưu</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
