<div class="u-content">
    <div class="u-body">
        <div class="row">
            <div class="col-md-12">
                <header class="section-header mb-4">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <h2 class="h3 card-header-title">Thời khóa biểu {{clss.TenLop}}</h2>
                        </div>
                        <div class="col-md-6 text-right">
                            <a href="/admin/class/schedule?id={{clss.MaLop}}" class="box-btn">Lịch thi</a>
                        </div>
                    </div>
                </header>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col" width="50"></th>
                                        <th scope="col">Học kỳ</th>
                                        <th scope="col" class="text-center" width="250">Hành động</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {{#each result}}
                                    <form method="post" id="formPost{{MaTKB}}">
                                        <input name="id" value="{{MaTKB}}" hidden>
                                        <input name="cId" value="{{MaLop}}" hidden>
                                    </form>
                                    <form method="get" id="formGet{{MaTKB}}">
                                        <input name="id" value="{{MaTKB}}" hidden>
                                    </form>
                                    <tr>
                                        <td></td>
                                        <td>Học kỳ {{HocKy}}</td>
                                        <td class="text-center">
                                            {{!--
                                            <button type="submit" class="btn btn-outline-primary" form="formGet{{MaGV}}" formaction="/admin/teacher/edit">Chỉnh sửa</button>
                                            <button type="submit" class="btn btn-outline-success" form="formPost{{MaGV}}" formaction="/admin/teacher/createaccount">Tạo tài khoản</button>
                                            --}}
                                            <button type="submit" class="btn btn-outline-info" form="formGet{{MaTKB}}" formaction="/admin/class/timetable/detail">Chi tiết</button>
                                            <button type="submit" class="btn btn-outline-danger" form="formPost{{MaTKB}}" formaction="/admin/class/timetable/delete">Xóa</button>
                                        </td>
                                    </tr>
                                {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="text-right mt-3">
                    <a href="/admin/class/timetable/add?id={{clss.MaLop}}" class="box-btn">Thêm thời khóa biểu</a>
                </div>
            </div>
        </div>
    </div>
</div>
