<!DOCTYPE html>
<html lang="vn" class="no-js">
<head>
    <title>Teachio | Giáo vụ</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
    <link rel="stylesheet" href="/public/admin-assets/vendor/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="/public/admin-assets/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css">

    <link rel="stylesheet" href="/public/admin-assets/css/theme.css">
    <link rel="stylesheet" href="/public/admin-assets/css/style.css">
    <link rel="stylesheet" href="/public/admin-assets/css/nice-select.css">

    <style>
        .js-doughnut-chart {
            width: 70px !important;
            height: 70px !important;
        }
    </style>
    {{{_sections.css}}}
</head>

<body>
<div class="body-bg"></div>
<header class="teachio-header u-header">
    <div class="u-header-left">
        <a class="u-header-logo" href="/admin">
            <img class="u-logo-desktop" src="/public/admin-assets/img/logo.png" width="160" alt="Logo Dashboard">
            <img class="img-fluid u-logo-mobile" src="/public/admin-assets/img/logo2.png" width="50" alt="Logo Dashboard">
        </a>
    </div>

    <div class="u-header-middle">
        <a class="js-sidebar-invoker u-sidebar-invoker" href="" data-is-close-all-except-this="true" data-target="#sidebar">
            <i class="fa fa-bars u-sidebar-invoker__icon--open"></i>
            <i class="fa fa-times u-sidebar-invoker__icon--close"></i>
        </a>
    </div>

    <div class="u-header-right">
        <div class="teachio-user-top-corner dropdown ml-2">
            <a class="link-muted d-flex align-items-center" href="" role="button" id="dropdownMenuLink" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">
                <img class="u-avatar--xs img-fluid mr-2" src="/public/admin-assets/img/avatars/img1.jpg" alt="User Profile">
                <span class="d-none d-sm-inline-block align-items-center menu-dots-wrap">
                        Giáo vụ <img src="/public/admin-assets/img/menu-dots.png" alt="" class="menu-dots">
                    </span>
            </a>
            <div class="dropdown-menu dropdown-menu-right border-0 py-0 mt-3" aria-labelledby="dropdownMenuLink" style="width: 260px;">
                <div class="card">
                    <div class="card-body">
                        <ul class="list-unstyled mb-0">
                            {{!--
                            <li class="mb-4">
                                <a class="d-flex align-items-center link-dark" href="">
                                    <span class="h3 mb-0"><i class="far fa-user-circle text-muted mr-3"></i></span> Thông tin
                                </a>
                            </li>
                            --}}
                            <li>
                                <a class="d-flex align-items-center link-dark" href="/logout">
                                    <span class="h3 mb-0"><i class="far fa-share-square text-muted mr-3"></i></span> Đăng xuất
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<main class="u-main" role="main">
    <aside id="sidebar" class="teachio-sidebar u-sidebar">
        <div class="u-sidebar-inner">
            <header class="u-sidebar-header">
                <a class="u-sidebar-logo" href="">
                    <img class="img-fluid" src="public/admin-assets/img/logo.png" width="124" alt="Stream Dashboard">
                </a>
            </header>

            <nav class="u-sidebar-nav">
                <ul class="u-sidebar-nav-menu u-sidebar-nav-menu--top-level">
                    <li class="u-sidebar-nav-menu__item">
                        {{#if dashboard}}
                            <a class="u-sidebar-nav-menu__link active" href="/admin">
                        {{else}}
                            <a class="u-sidebar-nav-menu__link" href="/admin">
                        {{/if}}
                            <i class="fas fa-th-large u-sidebar-nav-menu__item-icon"></i>
                            <span class="u-sidebar-nav-menu__item-title">Tổng quan</span>
                        </a>
                    </li>

                    <li class="u-sidebar-nav-menu__item clearfix">
                        {{#if class}}
                            <a class="u-sidebar-nav-menu__link active" href="" data-target="#classes">
                        {{else}}
                            <a class="u-sidebar-nav-menu__link" href="" data-target="#classes">
                        {{/if}}
                            <i class="fas fa-school u-sidebar-nav-menu__item-icon"></i>
                            <span class="u-sidebar-nav-menu__item-title">Lớp học</span>
                            <i class="fa fa-angle-right u-sidebar-nav-menu__item-arrow"></i>
                            <span class="u-sidebar-nav-menu__indicator"></span>
                        </a>

                        <ul id="classes" class="u-sidebar-nav-menu u-sidebar-nav-menu--second-level text-center" style="display: none;">
                            <li class="u-sidebar-nav-menu__item">
                                <a class="u-sidebar-nav-menu__link" href="/admin/class">
                                    <span class="u-sidebar-nav-menu__item-title">Danh sách lớp học</span>
                                </a>
                            </li>
                            <li class="u-sidebar-nav-menu__item">
                                <a class="u-sidebar-nav-menu__link" href="/admin/class/add">
                                    <span class="u-sidebar-nav-menu__item-title">Thêm lớp học</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="u-sidebar-nav-menu__item clearfix">
                        {{#if schedule}}
                            <a class="u-sidebar-nav-menu__link active" href="" data-target="#schedule">
                        {{else}}
                            <a class="u-sidebar-nav-menu__link" href="" data-target="#schedule">
                        {{/if}}
                        <i class="fas fa-table u-sidebar-nav-menu__item-icon"></i>
                        <span class="u-sidebar-nav-menu__item-title">Lịch thi</span>
                        <i class="fa fa-angle-right u-sidebar-nav-menu__item-arrow"></i>
                        <span class="u-sidebar-nav-menu__indicator"></span>
                    </a>
                        <ul id="schedule" class="u-sidebar-nav-menu u-sidebar-nav-menu--second-level text-center" style="display: none;">
                            <li class="u-sidebar-nav-menu__item">
                                <a class="u-sidebar-nav-menu__link" href="/admin/schedule">
                                    <span class="u-sidebar-nav-menu__item-title">Danh sách lịch thi</span>
                                </a>
                            </li>
                            <li class="u-sidebar-nav-menu__item">
                                <a class="u-sidebar-nav-menu__link" href="/admin/schedule/add">
                                    <span class="u-sidebar-nav-menu__item-title">Tạo lịch thi</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="u-sidebar-nav-menu__item">
                        {{#if subject}}
                        <a class="u-sidebar-nav-menu__link active" href="/admin/subject">
                        {{else}}
                        <a class="u-sidebar-nav-menu__link" href="/admin/subject">
                        {{/if}}
                            <i class="fas fa-book-open u-sidebar-nav-menu__item-icon"></i>
                            <span class="u-sidebar-nav-menu__item-title">Môn học</span>
                        </a>
                    </li>

                    <li class="u-sidebar-nav-menu__item clearfix">
                        {{#if student}}
                            <a class="u-sidebar-nav-menu__link active" href="" data-target="#students">
                        {{else}}
                            <a class="u-sidebar-nav-menu__link" href="" data-target="#students">
                        {{/if}}
                            <i class="fas fa-graduation-cap u-sidebar-nav-menu__item-icon"></i>
                            <span class="u-sidebar-nav-menu__item-title">Học sinh</span>
                            <i class="fa fa-angle-right u-sidebar-nav-menu__item-arrow"></i>
                            <span class="u-sidebar-nav-menu__indicator"></span>
                        </a>

                        <ul id="students" class="u-sidebar-nav-menu u-sidebar-nav-menu--second-level text-center" style="display: none;">
                            <li class="u-sidebar-nav-menu__item">
                                <a class="u-sidebar-nav-menu__link" href="/admin/student">
                                    <span class="u-sidebar-nav-menu__item-title">Danh sách học sinh</span>
                                </a>
                            </li>
                            <li class="u-sidebar-nav-menu__item">
                                <a class="u-sidebar-nav-menu__link" href="/admin/student/add">
                                    <span class="u-sidebar-nav-menu__item-title">Thêm học sinh</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="u-sidebar-nav-menu__item clearfix">
                        {{#if teacher}}
                            <a class="u-sidebar-nav-menu__link active" href="" data-target="#teachers">
                        {{else}}
                            <a class="u-sidebar-nav-menu__link" href="" data-target="#teachers">
                        {{/if}}
                            <i class="fas fa-chalkboard-teacher u-sidebar-nav-menu__item-icon"></i>
                            <span class="u-sidebar-nav-menu__item-title">Giáo viên</span>
                            <i class="fa fa-angle-right u-sidebar-nav-menu__item-arrow"></i>
                            <span class="u-sidebar-nav-menu__indicator"></span>
                        </a>
                        <ul id="teachers" class="u-sidebar-nav-menu u-sidebar-nav-menu--second-level text-center" style="display: none;">
                            <li class="u-sidebar-nav-menu__item">
                                <a class="u-sidebar-nav-menu__link" href="/admin/teacher">
                                    <span class="u-sidebar-nav-menu__item-title">Danh sách giáo viên</span>
                                </a>
                            </li>
                            <li class="u-sidebar-nav-menu__item">
                                <a class="u-sidebar-nav-menu__link" href="/admin/teacher/add">
                                    <span class="u-sidebar-nav-menu__item-title">Thêm giáo viên</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="u-sidebar-nav-menu__item">
                        {{#if account}}
                            <a class="u-sidebar-nav-menu__link active" href="/admin/account">
                        {{else}}
                            <a class="u-sidebar-nav-menu__link" href="/admin/account">
                        {{/if}}
                            <i class="fas fa-users u-sidebar-nav-menu__item-icon"></i>
                            <span class="u-sidebar-nav-menu__item-title">Tài khoản</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>
    {{{body}}}
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="/public/admin-assets/vendor/jquery/dist/jquery.min.js"></script>
<script src="/public/admin-assets/vendor/jquery-migrate/jquery-migrate.min.js"></script>
<script src="/public/admin-assets/vendor/popper.js/dist/umd/popper.min.js"></script>
<script src="/public/admin-assets/vendor/bootstrap/bootstrap.min.js"></script>

<script src="/public/admin-assets/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="/public/admin-assets/vendor/chart.js/dist/Chart.min.js"></script>
<script src="/public/admin-assets/js/jquery.nice-select.min.js"></script>

<script src="/public/admin-assets/js/sidebar-nav.js"></script>
<script src="/public/admin-assets/js/main.js"></script>
<script src="/public/admin-assets/js/dashboard-page-scripts.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
{{{_sections.js}}}
</body>

</html>