{{#section 'js'}}
    <script>
        $(".btn[data-target='#myModal']").click(function() {
            var columnHeadings = $("thead th").map(function() {
                return $(this).text();
            }).get();
            columnHeadings.splice(0, 1);
            columnHeadings.splice(1, 2);
            columnHeadings.splice(2, 5);
            var columnValues = $(this).parent().siblings().map(function() {
                return $(this).text();
            }).get();
            var studentID = columnValues[0];
            var studentName = columnValues[2];
            var fullTitle = 'Chỉnh sửa thành tích của học sinh ' + studentName;
            columnValues.splice(0, 1);
            columnValues.splice(1, 2);
            columnValues.splice(2, 5);
            var modalTitle = $('<h3 class="modal-title" id="myModalLabel">'+fullTitle+'</h3>');
            var modalBody = $('<div id="modalContent"></div>');
            var modalForm = $('<form name="modalForm" action="/teacher/homeroom-class/achievements/edit?HocKy={{hocky}}&NamHoc={{namhoc}}" method="post" class="needs-validation"></form>');
            $.each(columnHeadings, function(i, columnHeader) {
                var formGroup = $('<div class="form-group"></div>');
                if (i === 1) {
                    formGroup.append('<label for="joinCount">'+columnHeader+'</label>');
                    formGroup.append('<input type="number" min="0" max="20" class="form-control" name="joinCount" id="joinCount" value="'+columnValues[i]+'" />');
                } else {
                    formGroup.append('<input name="aid" id="aid" value="'+columnValues[i]+'" hidden/>');
                }
                modalForm.append(formGroup);
            });
            modalForm.append('<button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>');
            modalForm.append('<button type="submit" class="btn btn-primary">Lưu thay đổi</button>')
            modalBody.append(modalForm);
            $('.modal-body').html(modalBody);
            $('.modal-header').html(modalTitle);
            modalForm.append('<input name="sid" value='+studentID+' hidden>');
        });
        $('.submit .btn-primary').click(function() {
            $('form[name="modalForm"]').submit();
        });

        $(function() {
            'use strict';
            window.addEventListener('load', function() {
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
{{/section}}

<div class="u-content">
    <div class="u-body">
        <header class="section-header mb-4">
            <div class="row align-items-center">
                <div class="col-md-12">
                    <header class="section-header mb-2">
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <h2 class="h3 card-header-title">Quản lý thành tích lớp {{className}}</h2>
                            </div>
                        </div>
                    </header>
                    <form class="form-inline" method="post" action="/teacher/homeroom-class/achievements/">
                        <label for="value"></label>
                        <select onchange="this.form.submit()" class="mr-sm-2" id="value" name="value">
                            {{#each chooseList}}
                                <option {{#if isSelected}}selected{{/if}} value="{{HocKy}}/{{NamHoc}}">
                                    {{HocKy}} / {{NamHoc}}
                                </option>
                            {{/each}}
                        </select>
                    </form>
                </div>
            </div>
        </header>
        <div class="row mt-2">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th scope="col" class="text-center">ID</th>
                                    <th scope="col" hidden>AID</th>
                                    <th scope="col">Họ tên</th>
                                    <th scope="col">Tên hoạt động</th>
                                    <th scope="col" class="text-center">Số lần tham gia</th>
                                    <th scope="col">Ngày diễn ra</th>
                                    <th scope="col" class="text-center">Loại thành tích</th>
                                    <th scope="col" class="text-center">Điểm thành tích</th>
                                    <th scope="col" class="text-center">Hành động</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#each result}}
                                    <form method="post" id="formPost{{MaThanhTich}}">
                                        <input name="aid" value="{{MaThanhTich}}" hidden>
                                        <input name="sid" value="{{MaHocSinh}}" hidden>
                                    </form>
                                    <tr>
                                        <td class="text-center">{{MaHocSinh}}</td>
                                        <td hidden>{{MaThanhTich}}</td>
                                        <td>{{HoTen}}</td>
                                        <td>{{TenHoatDong}}</td>
                                        <td class="text-center">{{SoLanThamGia}}</td>
                                        <td>{{format_date NgayDienRa}}</td>
                                        <td class="text-center">{{format_achievement LoaiThanhTich}}</td>
                                        <td class="text-center">{{DiemThanhTich}}</td>
                                        <td class="text-center">
                                            <button type="submit" class="btn btn-outline-primary"
                                                    data-toggle="modal" data-target="#myModal">Chỉnh sửa</button>
                                            <button type="submit" class="btn btn-outline-danger" form="formPost{{MaThanhTich}}" formaction="/teacher/homeroom-class/achievement/delete">Xóa</button>
                                        </td>
                                    </tr>
                                {{/each}}
                                </tbody>
                            </table>
                        </div>
                        {{#if curPage.check}}
                            <div class="pagination-wrap mt-3 text-center">
                                <nav aria-label="Bootstrap Pagination Example">
                                    <ul class="pagination mb-0">
                                        {{#if prevPage.check}}
                                            <li class="page-item">
                                                <a class="page-link" href="/teacher/homeroom-class/achievements?HocKy={{hocky}}&NamHoc={{namhoc}}&page={{prevPage.value}}">&larr; <span class="ml-1 d-none d-xl-inline-block">Previous</span></a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" href="/teacher/homeroom-class/achievements?HocKy={{hocky}}&NamHoc={{namhoc}}&page={{prevPage.value}}">{{prevPage.value}}</a>
                                            </li>
                                        {{/if}}
                                        <li class="page-item active">
                                            <a class="page-link">{{curPage.value}}</a>
                                        </li>
                                        {{#if nexPage.check}}
                                            <li class="page-item">
                                                <a class="page-link" href="/teacher/homeroom-class/achievements?HocKy={{hocky}}&NamHoc={{namhoc}}&page={{nexPage.value}}">{{nexPage.value}}</a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" href="/teacher/homeroom-class/achievements?HocKy={{hocky}}&NamHoc={{namhoc}}&page={{nexPage.value}}"><span class="mr-1 d-none d-xl-inline-block">Next</span> &rarr;</a>
                                            </li>
                                        {{/if}}
                                    </ul>
                                </nav>
                            </div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"></div>
            <div class="modal-body"></div>
        </div>
    </div>
</div>
