<div class="u-content">
    <div class="u-body">
        <div class="row">
            <div class="col-md-12">
                <header class="section-header mb-4">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <h2 class="h3 card-header-title">Danh sách học sinh lớp 11A1</h2>
                        </div>
                    </div>
                </header>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th scope="col" class="text-center">ID</th>
                                    <th scope="col" width="200">Họ tên</th>
                                    <th scope="col">Giới tính</th>
                                    <th scope="col">Ngày sinh</th>
                                    <th scope="col">SĐT</th>
                                    <th scope="col">SĐT phụ huynh</th>
                                    <th scope="col">Địa chỉ</th>
                                    {{#if teaching_class}}
                                    {{else}}
                                        <th scope="col" class="text-center" width="200">Hành động</th>
                                    {{/if}}
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="text-center">1</td>
                                    <td>Nguyễn Thị Minh Thu </td>
                                    <td>Nữ</td>
                                    <td>15/01/2001</td>
                                    <td>0912345678</td>
                                    <td>0912345678</td>
                                    <td>123 Nguyễn Thị Minh Khai, Bến Nghé, Quận 1, Hồ Chí Minh</td>
                                    <td class="text-center">
                                        {{#if teaching_class}}
                                        {{else}}
                                            <button class="btn btn-outline-warning">Đánh vắng</button>
                                            <button class="btn btn-outline-danger">Xoá</button>
                                        {{/if}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">1</td>
                                    <td>Nguyễn Thị Minh Thu </td>
                                    <td>Nữ</td>
                                    <td>15/01/2001</td>
                                    <td>0912345678</td>
                                    <td>0912345678</td>
                                    <td>123 Nguyễn Thị Minh Khai, Bến Nghé, Quận 1, Hồ Chí Minh</td>
                                    <td class="text-center">
                                        {{#if teaching_class}}
                                        {{else}}
                                            <button class="btn btn-outline-warning">Đánh vắng</button>
                                            <button class="btn btn-outline-danger">Xoá</button>
                                        {{/if}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">1</td>
                                    <td>Nguyễn Thị Minh Thu </td>
                                    <td>Nữ</td>
                                    <td>15/01/2001</td>
                                    <td>0912345678</td>
                                    <td>0912345678</td>
                                    <td>123 Nguyễn Thị Minh Khai, Bến Nghé, Quận 1, Hồ Chí Minh</td>
                                    <td class="text-center">
                                        {{#if teaching_class}}
                                        {{else}}
                                            <button class="btn btn-outline-warning">Đánh vắng</button>
                                            <button class="btn btn-outline-danger">Xoá</button>
                                        {{/if}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">1</td>
                                    <td>Nguyễn Thị Minh Thu </td>
                                    <td>Nữ</td>
                                    <td>15/01/2001</td>
                                    <td>0912345678</td>
                                    <td>0912345678</td>
                                    <td>123 Nguyễn Thị Minh Khai, Bến Nghé, Quận 1, Hồ Chí Minh</td>
                                    <td class="text-center">
                                        {{#if teaching_class}}
                                        {{else}}
                                            <button class="btn btn-outline-warning">Đánh vắng</button>
                                            <button class="btn btn-outline-danger">Xoá</button>
                                        {{/if}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">1</td>
                                    <td>Nguyễn Thị Minh Thu </td>
                                    <td>Nữ</td>
                                    <td>15/01/2001</td>
                                    <td>0912345678</td>
                                    <td>0912345678</td>
                                    <td>123 Nguyễn Thị Minh Khai, Bến Nghé, Quận 1, Hồ Chí Minh</td>
                                    <td class="text-center">
                                        {{#if teaching_class}}
                                        {{else}}
                                            <button class="btn btn-outline-warning">Đánh vắng</button>
                                            <button class="btn btn-outline-danger">Xoá</button>
                                        {{/if}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">1</td>
                                    <td>Nguyễn Thị Minh Thu </td>
                                    <td>Nữ</td>
                                    <td>15/01/2001</td>
                                    <td>0912345678</td>
                                    <td>0912345678</td>
                                    <td>123 Nguyễn Thị Minh Khai, Bến Nghé, Quận 1, Hồ Chí Minh</td>
                                    <td class="text-center">
                                        {{#if teaching_class}}
                                        {{else}}
                                            <button class="btn btn-outline-warning">Đánh vắng</button>
                                            <button class="btn btn-outline-danger">Xoá</button>
                                        {{/if}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">1</td>
                                    <td>Nguyễn Thị Minh Thu </td>
                                    <td>Nữ</td>
                                    <td>15/01/2001</td>
                                    <td>0912345678</td>
                                    <td>0912345678</td>
                                    <td>123 Nguyễn Thị Minh Khai, Bến Nghé, Quận 1, Hồ Chí Minh</td>
                                    <td class="text-center">
                                        {{#if teaching_class}}
                                        {{else}}
                                            <button class="btn btn-outline-warning">Đánh vắng</button>
                                            <button class="btn btn-outline-danger">Xoá</button>
                                        {{/if}}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="pagination-wrap mt-3 text-center">
                            <nav aria-label="Bootstrap Pagination Example">
                                <ul class="pagination mb-0">
                                    <li class="page-item active">
                                        <a class="page-link">1</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
