{{#section 'js'}}
    <script>
        $(".btn[data-target='#myModal']").click(function() {
            var columnValues = $(this).parent().siblings().map(function() {
                return $(this).text();
            }).get();
            var studentID = columnValues[0];
            var studentName = columnValues[1];
            var fullTitle = 'Đánh vắng học sinh  ' + studentName + '?';
            var modalTitle = $('<h3 class="modal-title" id="myModalLabel">'+fullTitle+'</h3>');
            var modalBody = $('<div id="modalContent"></div>');
            var modalForm = $('<form name="modalForm" action="/teacher/homeroom-class/student/absent" method="post"></form>');
            modalForm.append('<input name="id" value='+studentID+' hidden>');
            modalForm.append('<button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>');
            modalForm.append('<button type="submit" class="btn btn-primary">Lưu thay đổi</button>')
            modalBody.append(modalForm);
            $('.modal-body').html(modalBody);
            $('.modal-header').html(modalTitle);
        });
        $('.submit .btn-primary').click(function() {
            $('form[name="modalForm"]').submit();
        });;
    </script>
{{/section}}

<div class="u-content">
    <div class="u-body">
        <div class="row">
            <div class="col-md-12">
                <header class="section-header mb-4">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <h2 class="h3 card-header-title">Danh sách học sinh lớp {{className}}</h2>
                        </div>
                        {{#if homeroom_class}}
                        <div class="col-md-3 text-right">
                            <form method="post" id="formPostStudent">
                                <select id="student" name="student">
                                    <option data-display="Chọn học sinh" value="">Học sinh</option>
                                    {{#each students}}
                                        <option value="{{MaHocSinh}}">{{MaHocSinh}}. {{HoTen}}</option>
                                    {{/each}}
                                </select>
                            </form>
                            <button type="submit" class="btn btn-primary" formaction="/teacher/homeroom-class/student/add" form="formPostStudent">Thêm học sinh</button>
                        </div>
                        {{/if}}
                </header>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th scope="col" class="text-center">ID</th>
                                    <th scope="col">Họ tên</th>
                                    <th scope="col">Giới tính</th>
                                    <th scope="col">Ngày sinh</th>
                                    <th scope="col">Số điện thoại</th>
                                    <th scope="col">Địa chỉ</th>
                                    <th scope="col">Quê quán</th>
                                    <th scope="col">Dân tộc</th>
                                    <th scope="col">Tôn giáo</th>
                                    {{#if homeroom_class}}
                                        <th scope="col" class="text-center">Hành động</th>
                                    {{/if}}
                                </tr>
                                </thead>
                                <tbody>
                                {{#each result}}
                                    <form method="post" id="formPost{{MaHocSinh}}">
                                        <input name="id" value="{{MaHocSinh}}" hidden>
                                    </form>
                                    <tr>
                                        <td class="text-center">{{MaHocSinh}}</td>
                                        <td>{{HoTen}}</td>
                                        <td>{{format_gender GioiTinh}}</td>
                                        <td>{{format_date NgaySinh}}</td>
                                        <td>{{SDT}}</td>
                                        <td>{{DiaChi}}</td>
                                        <td>{{QueQuan}}</td>
                                        <td>{{DanToc}}</td>
                                        <td>{{TonGiao}}</td>
                                        {{#if ../homeroom_class}}
                                            <td class="text-center">
                                                {{#if VangHoc}}
                                                    <button type="submit" disabled class="btn btn-outline-warning">Đánh vắng</button>
                                                {{else}}
                                                    <button type="submit" data-toggle="modal" data-target="#myModal" class="btn btn-outline-warning">Đánh vắng</button>
                                                {{/if}}
                                                <button type="submit" class="btn btn-outline-danger" form="formPost{{MaHocSinh}}" formaction="/teacher/homeroom-class/student/delete">Xóa</button>
                                            </td>
                                        {{/if}}
                                    </tr>
                                {{/each}}
                                </tbody>
                            </table>
                        </div>
                        {{#if curPage.check}}
                            <div class="pagination-wrap mt-3 text-center">
                                <nav aria-label="Bootstrap Pagination Example">
                                    <ul class="pagination mb-0">
                                        {{#if prevPage.check}}
                                            {{#if teaching_class}}
                                                <li class="page-item">
                                                    <a class="page-link" href="/teacher/teaching-class/students/{{classID}}?page={{prevPage.value}}">&larr; <span class="ml-1 d-none d-xl-inline-block">Previous</span></a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link" href="/teacher/teaching-class/students/{{classID}}?page={{prevPage.value}}">{{prevPage.value}}</a>
                                                </li>
                                            {{/if}}
                                            {{#if homeroom_class}}
                                                <li class="page-item">
                                                    <a class="page-link" href="/teacher/homeroom-class/students?page={{prevPage.value}}">&larr; <span class="ml-1 d-none d-xl-inline-block">Previous</span></a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link" href="/teacher/homeroom-class/students?page={{prevPage.value}}">{{prevPage.value}}</a>
                                                </li>
                                            {{/if}}
                                        {{/if}}
                                        <li class="page-item active">
                                            <a class="page-link">{{curPage.value}}</a>
                                        </li>
                                        {{#if nexPage.check}}
                                            {{#if teaching_class}}
                                                <li class="page-item">
                                                    <a class="page-link" href="/teacher/teaching-class/students/{{classID}}?page={{nexPage.value}}">{{nexPage.value}}</a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link" href="/teacher/teaching-class/students/{{classID}}?page={{nexPage.value}}"><span class="mr-1 d-none d-xl-inline-block">Next</span> &rarr;</a>
                                                </li>
                                            {{/if}}
                                            {{#if homeroom_class}}
                                                <li class="page-item">
                                                    <a class="page-link" href="/teacher/homeroom-class/students?page={{nexPage.value}}">{{nexPage.value}}</a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link" href="/teacher/homeroom-class/students?page={{nexPage.value}}"><span class="mr-1 d-none d-xl-inline-block">Next</span> &rarr;</a>
                                                </li>
                                            {{/if}}
                                        {{/if}}
                                    </ul>
                                </nav>
                            </div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"></div>
            <div class="modal-body"></div>
        </div>
    </div>
</div>