<div class="u-content">
    <div class="u-body">
        <div class="row">
            <div class="col-md-12">
                <header class="section-header mb-4">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <h2 class="h3 card-header-title">Danh sách học sinh lớp {{className}}</h2>
                        </div>
                    </div>
                </header>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th scope="col" class="text-center">ID</th>
                                    <th scope="col" width="200">Họ tên</th>
                                    <th scope="col">Giới tính</th>
                                    <th scope="col">Ngày sinh</th>
                                    <th scope="col">Số điện thoại</th>
                                    <th scope="col">Địa chỉ</th>
                                    <th scope="col">Quê quán</th>
                                    <th scope="col">Dân tộc</th>
                                    <th scope="col">Tôn giáo</th>
                                    {{#if homeroom_class}}
                                        <th scope="col" class="text-center" width="250">Hành động</th>
                                    {{/if}}
                                </tr>
                                </thead>
                                <tbody>
                                {{#each result}}
                                    <form method="get" id="formGet{{MaHocSinh}}">
                                        <input name="id" value="{{MaHocSinh}}" hidden>
                                    </form>
                                    <form method="post" id="formPost{{MaHocSinh}}">
                                        <input name="id" value="{{MaHocSinh}}" hidden>
                                    </form>
                                    <tr>
                                        <td class="text-center">{{MaHocSinh}}</td>
                                        <td>{{HoTen}}</td>
                                        <td>{{format_gender GioiTinh}}</td>
                                        <td>{{format_date NgaySinh}}</td>
                                        <td>{{SDT}}</td>
                                        <td>{{DiaChi}}</td>
                                        <td>{{QueQuan}}</td>
                                        <td>{{DanToc}}</td>
                                        <td>{{TonGiao}}</td>
                                        {{#if homeroom_class}}
                                            <td class="text-center">
                                                <button type="submit" class="btn btn-outline-success" form="formGet{{MaHocSinh}}" formaction="/admin/student/editclass">Chỉnh sửa lớp</button>
                                                <button type="submit" class="btn btn-outline-danger" form="formPost{{MaHocSinh}}" formaction="/admin/student/delete">Xóa</button>
                                            </td>
                                        {{/if}}
                                    </tr>
                                {{/each}}
                                </tbody>
                            </table>
                        </div>
                        {{#if curPage.check}}
                            <div class="pagination-wrap mt-3 text-center">
                                <nav aria-label="Bootstrap Pagination Example">
                                    <ul class="pagination mb-0">
                                        {{#if prevPage.check}}
                                            <li class="page-item">
                                                <a class="page-link" href="/teacher/teaching-class/students/{{classID}}?page={{prevPage.value}}">&larr; <span class="ml-1 d-none d-xl-inline-block">Previous</span></a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" href="/teacher/teaching-class/students/{{classID}}?page={{prevPage.value}}">{{prevPage.value}}</a>
                                            </li>
                                        {{/if}}
                                        <li class="page-item active">
                                            <a class="page-link">{{curPage.value}}</a>
                                        </li>
                                        {{#if nexPage.check}}
                                            <li class="page-item">
                                                <a class="page-link" href="/teacher/teaching-class/students/{{classID}}?page={{nexPage.value}}">{{nexPage.value}}</a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" href="/teacher/teaching-class/students/{{classID}}?page={{nexPage.value}}"><span class="mr-1 d-none d-xl-inline-block">Next</span> &rarr;</a>
                                            </li>
                                        {{/if}}
                                    </ul>
                                </nav>
                            </div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
