<div id="site-content">
    <header class="site-header">
        <div class="primary-header">
            <div class="container">
<!--                <a href="/student" id="branding">-->
<!--                    <img src="/public/home-assets/images/logo.png" alt="Lincoln high School">-->
<!--                    <h1 class="site-title">Lincoln High School</h1>-->
<!--                </a> &lt;!&ndash; #branding &ndash;&gt;-->


                <div class="main-navigation">
                    <button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
                    <ul class="menu">
                        <li class="menu-item mr-1 "><a href="/student">Trang chủ</a></li>
                        <li class="menu-item mr-1 current-menu-item"><a href="/student/exam-schedule">Lịch Thi</a></li>
                        <li class="menu-item mr-1"><a href="/student/time-table">Thời khóa biểu</a></li>
                        <li class="menu-item mr-1"><a href="/student/tuition">Học Phí</a></li>
                        <li class="menu-item mr-1"><a href="/student/profile">Thông tin cá nhân</a></li>
                        <li class="menu-item mr-1"><a href="/logout">Đăng xuất</a></li>
                    </ul> <!-- .menu -->
                </div> <!-- .main-navigation -->

                <div class="mobile-navigation"></div>
            </div> <!-- .container -->
        </div> <!-- .primary-header -->

    </header>
</div>

<main class="main-content mb-4">
    <div class="container col d-flex justify-content-center">
        <div class="col-md-8">
            <div class="col-md-8">
                <h4 class="border border-soft-primary p-2" style="border-radius: 5px">
                    Lịch thi học kì {{this.exam.HocKy}} / {{this.exam.NamHoc}}
                </h4>
            </div>
            <div class="col-md-4 d-flex justify-content-end">
                <div class="alert alert-info">
                    <span class="font-weight-bold">Lớp: </span>
                    <span class="text-uppercase">{{this.studentClass}}</span>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered text-center">
                    <thead style="font-size: 15px; background-color: #ffffa6">
                    <tr class="bg-light-gray">
                        <th class="text-uppercase">Ngày thi</th>
                        <th class="text-uppercase">Buổi</th>
                        <th class="text-uppercase">Môn thi</th>
                        <th class="text-uppercase">Thời gian bắt đầu</th>
                        <th class="text-uppercase">Thời gian kết thúc</th>
                        <th class="text-uppercase">Phòng thi</th>
                    </tr>
                    </thead>
                    <tbody style="font-size: 14px">
                    {{#each schedule}}
                        <tr>
                            <td class="align-middle" style="background-color: #f6caca">
                                <span class="font-weight-bold" style="font-size: 16px">{{formatDate this.NgayThi}}</span>
                            </td>
                            <td style="background-color: #dbeff8">
                                {{checkTimeSession ThoiGianBD}}
                            </td>
                            <td style="background-color: #dbeff8">
                            <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom font-size16 xs-font-size13">
                                {{this.TenMon}}
                            </span>
                            </td>
                            <td style="background-color: #dbeff8">
                            <span class="bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom font-size16  xs-font-size13">
                                {{formatTime this.ThoiGianBD}}
                            </span>
                            </td>

                            <td style="background-color: #dbeff8">
                            <span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom    font-size16  xs-font-size13">
                                {{formatTime this.ThoiGianKt}}
                            </span>
                            </td>
                            <td style="background-color: #dbeff8">
                                {{this.PhongThi}}
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

