<div id="site-content">
    <header class="site-header">
        <div class="primary-header">
            <div class="container">
                <a href="/" id="branding">
                    <img src="/public/home-assets/images/logo.png" alt="Lincoln high School">
                    <h1 class="site-title">Lincoln High School</h1>
                </a> <!-- #branding -->

                <div class="main-navigation">
                    <button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
                    <ul class="menu">
                        <li class="menu-item mr-1 current-menu-item"><a href="/student">Trang chủ</a></li>
                        <li class="menu-item mr-1"><a href="/exam-schedule">Lịch Thi</a></li>
                        <li class="menu-item mr-1"><a href="/time-table">Thời khóa biểu</a></li>
                        <li class="menu-item mr-1"><a href="/tuition">Học Phí</a></li>
                        <li class="menu-item mr-1"><a href="/profile">Thông tin cá nhân</a></li>
                        <li class="menu-item mr-1"><a href="/logout">Đăng xuất</a></li>
                    </ul> <!-- .menu -->
                </div> <!-- .main-navigation -->

                <div class="mobile-navigation"></div>
            </div> <!-- .container -->
        </div> <!-- .primary-header -->

    </header>
</div>

<main class="main-content mb-4">
        <div class="container col d-flex justify-content-center">
            <div class="col-md-11">
                <div class="col-md-5">
                    <div class="card mb-3">
                        <div class="card-header p-1" style="background-color: #fffcbd;">
                            <h5 class="d-flex justify-content-center">
                                Thông tin học sinh
                            </h5>
                        </div>
                        <div class="card-body pr-0">
                            <div class="row" style="display: flex; align-items: center">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Họ và tên:</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{this.student.HoTen}}
                                </div>
                            </div>
                            <hr class="mt-3 mb-3">
                            <div class="row" style="display: flex; align-items: center">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Lớp:</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{this.studentClass}}
                                </div>
                            </div>
                            <hr class="mt-3 mb-3">
                            <div class="row" style="display: flex; align-items: center">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Giới tính:</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{checkGender student.GioiTinh}}
                                </div>
                            </div>
                            <hr class="mt-3 mb-3">
                            <div class="row" style="display: flex; align-items: center">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Ngày sinh:</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{formatDate student.NgaySinh}}
                                </div>
                            </div>
                            <hr class="mt-3 mb-3">
                            <div class="row" style="display: flex; align-items: center">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Địa chỉ:</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{student.DiaChi}}
                                </div>
                            </div>
                            <hr class="mt-3 mb-3">
                            <div class="row" style="display: flex; align-items: center">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Quê quán:</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{student.QueQuan}}
                                </div>
                            </div>
                            <hr class="mt-3 mb-3">
                            <div class="row" style="display: flex; align-items: center">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Số điện thoại:</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{student.SDT}}
                                </div>
                            </div>
                            <hr class="mt-3 mb-3">
                            <div class="row" style="display: flex; align-items: center;">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Dân tộc:</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{student.DanToc}}
                                </div>
                            </div>
                            <hr class="mt-3 mb-3">
                            <div class="row" style="display: flex; align-items: center;">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Tôn giáo:</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{student.TonGiao}}
                                </div>
                            </div>
                        </div>
                        <div class="card-footer d-flex justify-content-center p-1" >
                            <a href="/profile/edit" class="btn btn-primary mr-3">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                Sửa thông tin
                            </a>
                            <a href="/mark-table" class="btn btn-secondary">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                                Xem điểm quá trình
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="card mb-3">
                        <div class="card-header p-1" style="background-color: #fffcbd;">
                            <h5 class="d-flex justify-content-center">
                                Thông tin phụ huynh
                            </h5>
                        </div>
                        <div class="card-body p-0">
                            <table class="table p-1">
                                <thead >
                                <tr style="font-weight: normal;">
                                    <th scope="col">Họ và tên</th>
                                    <th scope="col">Ngày sinh</th>
                                    <th scope="col">Nghề nghiệp</th>
                                    <th scope="col">Số điện thoại</th>
                                    <th scope="col">Chức vụ</th>
                                    <th scope="col">&nbsp;</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#each relatives}}
                                <tr>
                                    <td>{{this.info.HoTen}}</td>
                                    <td>{{formatDate this.info.NgaySinh}}</td>
                                    <td>{{this.info.NgheNghiep}}</td>
                                    <td>{{this.info.SDT}}</td>
                                    <td>{{this.info.ChucVu}}</td>
                                    <td>
                                        <a class="btn btn-primary btn-sm" href="/relative/edit/{{this.info.MaPHHS}}">Sửa</a>
                                    </td>
                                </tr>
                                {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
</main>

