<div id="site-content">
    <header class="site-header">
        <div class="primary-header">
            <div class="container">
                <a href="/student" id="branding">
                    <img src="/public/home-assets/images/logo.png" alt="Lincoln high School">
                    <h1 class="site-title">Lincoln High School</h1>
                </a> <!-- #branding -->


                <div class="main-navigation">
                    <button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
                    <ul class="menu">
                        <li class="menu-item mr-1 "><a href="/student">Trang chủ</a></li>
                        <li class="menu-item mr-1"><a href="/student/exam-schedule">Lịch Thi</a></li>
                        <li class="menu-item mr-1 current-menu-item"><a href="/student/time-table">Thời khóa biểu</a></li>
                        <li class="menu-item mr-1"><a href="/student/tuition">Học Phí</a></li>
                        <li class="menu-item mr-1"><a href="/student/profile">Thông tin cá nhân</a></li>
                        <li class="menu-item mr-1"><a href="/logout">Đăng xuất</a></li>
                    </ul> <!-- .menu -->
                </div> <!-- .main-navigation -->
                <div class="mobile-navigation"></div>
            </div> <!-- .container -->
        </div> <!-- .primary-header -->

    </header>
</div>

<main class="main-content mb-4">
    <div class="container col d-flex justify-content-center">
        <div class="col-md-9">
            <div class="col-md-2">
            </div>
            <div class="col-md-8 text-center pb-2">
                <h3>Thời khóa biểu học kì {{this.lastestTimeTable.HocKy}} - {{this.lastestTimeTable.NamHoc}}</h3>
            </div>
            <div class="col-md-2 d-flex justify-content-end">
                <div class="alert alert-info">
                    <span class="font-weight-bold">Lớp: </span>
                    <span class="text-uppercase">{{this.studClass.TenLop}}</span>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered text-center">
                    <thead style="background-color: #ffffa6; font-size: 14px">
                    <tr class="bg-light-gray">
                        <th class="text-uppercase"></th>
                        <th class="text-uppercase">Time
                        <th class="text-uppercase">Monday</th>
                        <th class="text-uppercase">Tuesday</th>
                        <th class="text-uppercase">Wednesday</th>
                        <th class="text-uppercase">Thursday</th>
                        <th class="text-uppercase">Friday</th>
                        <th class="text-uppercase">Saturday</th>
                        <th class="text-uppercase">Sunday</th>
                    </tr>
                    </thead>
                    <tbody style="font-size: 13px">
                    <tr>
                        <td class="align-middle fa-rotate-270" rowspan="6"><span class="font-weight-bold p-0 m-0"
                                                                                 style="font-size: 30px;">Sáng</span>
                        </td>
                        <td class="align-middle" style="background-color: #acf5eb">7:15 - 8:00</td>
                        {{{timeTableCheck this.time715}}}
<!--                        <td>-->
<!--                            <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom    font-size16 xs-font-size13">Dance</span>-->

<!--                            <div class="font-size13 text-light-gray">Ivana Wong</div>-->
<!--                        </td>-->
<!--                        <td>-->
<!--                            <span class="bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom    font-size16  xs-font-size13">Yoga</span>-->

<!--                            <div class="font-size13 text-light-gray">Marta Healy</div>-->
<!--                        </td>-->

<!--                        <td>-->
<!--                            <span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom    font-size16  xs-font-size13">Music</span>-->

<!--                            <div class="font-size13 text-light-gray">Ivana Wong</div>-->
<!--                        </td>-->
<!--                        <td>-->
<!--                            <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom    font-size16  xs-font-size13">Dance</span>-->

<!--                            <div class="font-size13 text-light-gray">Ivana Wong</div>-->
<!--                        </td>-->
<!--                        <td>-->
<!--                            <span class="bg-purple padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom    font-size16  xs-font-size13">Art</span>-->

<!--                            <div class="font-size13 text-light-gray">Kate Alley</div>-->
<!--                        </td>-->
<!--                        <td>-->
<!--                            <span class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom    font-size16  xs-font-size13">English</span>-->

<!--                            <div class="font-size13 text-light-gray">James Smith</div>-->
<!--                        </td>-->
<!--                        <td>-->
<!--                            <span class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom    font-size16  xs-font-size13">English</span>-->

<!--                            <div class="font-size13 text-light-gray">James Smith</div>-->
<!--                        </td>-->
                    </tr>

                    <tr>
                        <td class="align-middle" style="background-color: #acf5eb">8:05 - 8:50</td>
                        {{{timeTableCheck this.time805}}}
                    </tr>

                    <tr>
                        <td class="align-middle" style="background-color: #acf5eb">8:50 - 9:10</td>
                        <td style="background-color: #8ff67f" >
                            <span class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom    font-size16  xs-font-size13">Nghỉ giữa giờ</span>
                        </td>
                        <td style="background-color: #8ff67f" >
                            <span class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom    font-size16  xs-font-size13">Nghỉ giữa giờ</span>
                        </td>
                        <td style="background-color: #8ff67f" >
                            <span class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom    font-size16  xs-font-size13">Nghỉ giữa giờ</span>
                        </td>
                        <td style="background-color: #8ff67f" >
                            <span class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom    font-size16  xs-font-size13">Nghỉ giữa giờ</span>
                        </td>
                        <td style="background-color: #8ff67f" >
                            <span class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom    font-size16  xs-font-size13">Nghỉ giữa giờ</span>
                        </td>
                        <td style="background-color: #8ff67f" >
                            <span class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom    font-size16  xs-font-size13">Nghỉ giữa giờ</span>
                        </td>
                        <td style="background-color: #8ff67f" >
                            <span class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom    font-size16  xs-font-size13">Nghỉ giữa giờ</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="align-middle" style="background-color: #acf5eb">9:10 - 9:55</td>
                        {{{timeTableCheck this.time910}}}
                    </tr>
                    <tr>
                        <td class="align-middle" style="background-color: #acf5eb">10:00 - 10:45</td>
                        {{{timeTableCheck this.time1000}}}
                    </tr>

                    <tr>
                        <td class="align-middle" style="background-color: #acf5eb">10:50 - 11:35</td>
                        {{{timeTableCheck this.time1050}}}
                    </tr>
                    <tr style="background-color: #f6caca;">
                        <td colspan="9"><span class="font-weight-bold" style="font-size: 30px;">Nghỉ trưa</span></td>
                    </tr>

                    <tr>
                        <td class="align-middle fa-rotate-270" rowspan="6"><span class="font-weight-bold p-0 m-0"
                                                                                 style="font-size: 30px;">Chiều</span>
                        </td>
                        <td class="align-middle" style="background-color: #acf5eb">13:00 - 13:45</td>
                        {{{timeTableCheck this.time1300}}}

                    </tr>
                    <tr>
                        <td class="align-middle" style="background-color: #acf5eb">13:50 - 14:35</td>
                        {{{timeTableCheck this.time1350}}}
                    </tr>
                    <tr>
                        <td class="align-middle" style="background-color: #acf5eb">14:40 - 15:25</td>
                        {{{timeTableCheck this.time1440}}}
                    </tr>
                    <tr>
                        <td class="align-middle" style="background-color: #acf5eb">15:25 - 15:40</td>
                        <td style="background-color: #8ff67f" >
                            <span class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom    font-size16  xs-font-size13">Nghỉ giữa giờ</span>
                        </td>
                        <td style="background-color: #8ff67f" >
                            <span class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom    font-size16  xs-font-size13">Nghỉ giữa giờ</span>
                        </td>
                        <td style="background-color: #8ff67f" >
                            <span class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom    font-size16  xs-font-size13">Nghỉ giữa giờ</span>
                        </td>
                        <td style="background-color: #8ff67f" >
                            <span class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom    font-size16  xs-font-size13">Nghỉ giữa giờ</span>
                        </td>
                        <td style="background-color: #8ff67f" >
                            <span class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom    font-size16  xs-font-size13">Nghỉ giữa giờ</span>
                        </td>
                        <td style="background-color: #8ff67f" >
                            <span class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom    font-size16  xs-font-size13">Nghỉ giữa giờ</span>
                        </td>
                        <td style="background-color: #8ff67f" >
                            <span class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom    font-size16  xs-font-size13">Nghỉ giữa giờ</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="align-middle" style="background-color: #acf5eb">15:40 - 16:25</td>
                        {{{timeTableCheck this.time1540}}}
                    </tr>
                    <tr>
                        <td class="align-middle" style="background-color: #acf5eb">16:30 - 17:15</td>
                        {{{timeTableCheck this.time1630}}}
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

